.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  display: grid;
}

.cellWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.cell {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
  cursor: pointer;
  width: 90%;
  height: 90%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.selectedCell .cell {
  background-color: rgba(73, 166, 73, 0.7);
}

.selectedCell .cell:hover {
  background-color: rgba(73, 166, 73, 0.4);
}

.visitedCell .cell {
  background-color: rgba(73, 166, 73, 0.2);
}
.visitedCell .cell:hover {
  background-color: rgba(73, 166, 73, 0.7) !important;
}

.dangerosityCell .cell {
  background-color: rgba(233, 11, 11, 0.2);
}

.horizontalWall {
  display: inline-flex;
}
.horizontalWall::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
}
.verticalWall {
  display: inline-flex;
}
.verticalWall::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: rotate(90deg);
  transform-origin: left;
}

/* SPAWN */
.spawn {
  border-radius: 100%;
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: cover;
}
.gryffindorSpawn {
  background-image: url('../assets/images/houses/lion.png');
  transform: translate3D(-50px, 10px, 0);
}
.slytherinSpawn {
  background-image: url('../assets/images/houses/snake.png');
  transform: translate3D(50px, -10px, 0);
}
.ravenclawSpawn {
  background-image: url('../assets/images/houses/eagle.png');
  transform: translate3D(-50px, -10px, 0);
}
.hufflepuffSpawn {
  background-image: url('../assets/images/houses/badger.png');
  transform: translate3D(50px, 10px, 0);
}

/* Available cells for tp */
.availableCellForTp {
  background-color: rgba(63, 127, 191, 0.6);
  position: relative;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
}

.gryffondorSpawn {
  border: 2px solid red;
}

.poufsouffleSpawn {
  border: 2px solid orange;
}

.serdaigleSpawn {
  border: 2px solid lightskyblue;
}

.serpentardSpawn {
  border: 2px solid green;
}
