.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/parchment-texture.jpg");
  background-size: cover;
    height: 100vh;
}
.game {
  display: grid;
}

.cellWrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.cell {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s;
  cursor: pointer;
  width: 90%;
  height: 90%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.visitedCell .cell {
  background-color: rgba(73, 166, 73, 0.2);
}
.visitedCell .cell:hover {
  background-color: rgba(73, 166, 73, 0.7)!important;
}

.horizontalWall {
  display: inline-flex;
}
.horizontalWall::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
}
.verticalWall {
  display: inline-flex;
}
.verticalWall::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: rotate(90deg);
  transform-origin: left;
}