.cellWitch {
  position: relative;
  width: 90%;
}
.clickableCell {
  background-color: rgba(63, 127, 191, 0.3);
}

.cell {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.selectedCell {
  border: 2px solid rgba(63, 127, 191, 0.6);
}