.container {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("parchment-texture.jpg");
}

.title span {
	font-family: 'Skranji', cursive;
}